---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Day Formatter for Streamer">
	<main>
		<h1>Welcome to <br><span class="text-gradient">Day Formatter</span></h1>
		<div class="text">
			<p>以下ようなフォーマットの日付をすべて+7日して出力します。</p>
			<div class="sample">
				06.26<br/><br/>06.27<br/><br>06.28<br/><br/>06.29
			</div>
		</div>
		<div class="box">
			<textarea class="intputArea" name="" id="" cols="30" rows="10" placeholder="貼り付けてください。"></textarea>
		</div>
		<button class="convertBtn">変換</button>
		<div class="box">
			<textarea class="resultArea" name="" id="" cols="30" rows="10">結果が出ます</textarea>
		</div>
		<footer>
			<p>Created by <a href="https://numecha.vercel.app/" target="_blank" rel="noopener noreferrer">Numecha</a>.</p>
		</footer>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.box {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		textarea {
			height: 250px;
		}
	}
	.text {
		text-align: center;
		.sample {
			font-size: 13px;
			line-height: 1.2;
			color: #666;
		}
	}
	textarea {
		font-size: 13px;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	footer {
		margin-top: 30px;
		text-align: center;
	}
	
</style>

<script>
	const padZero = (num: number) => {
		return ('0' + num).slice(-2);
	}
	const convert = () => {
		const text = document.querySelector('.intputArea').value;
		if (text === '') return alert('テキストを入力してください')
		const lines = text.split('\n\n');
		const result = lines.map(line => {
			const date = new Date(line);
			date.setDate(date.getDate() + 7);
			return `${padZero(date.getMonth() + 1)}.${padZero(date.getDate())}`;
		}).join('\n\n');
		document.querySelector('.resultArea').value = result;
	}
	const convertBtn = document.querySelector('.convertBtn');
	convertBtn?.addEventListener('click', convert);
</script>
