---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Day Formatter">
	<main>
		<h1>Welcome to <span class="text-gradient">Day Formatter</span></h1>
		<div class="box flex">
			<textarea class="intputArea" name="" id="" cols="30" rows="10"></textarea>
			<div class="text">
				<p>以下のフォーマットの日付をすべて+7日します。</p>
				<div class="sample">
					<div class="body">6/12<br/><br/>6/13<br/><br>6/14<br/><br/>6/15</div>
				</div>
			</div>
		</div>
		<button class="convertBtn">変換</button>
		<div class="box">
			<textarea class="resultArea" name="" id="" cols="30" rows="10">結果が出ます</textarea>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.box {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		textarea {
			height: 250px;
		}
	}
	.flex {
		display: flex;
		align-items: space-between;
		gap: 20px;
		textarea {
			flex-basis: 50%;
		}
		.text {
			.sample {
				font-size: 13px;
				line-height: 1.2;
				color: #666;
				display: flex;
			}
		}
	}
	textarea {
		font-size: 13px;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	
</style>

<script>
	const convert = () => {
		const text = document.querySelector('.intputArea').value;
		if (text === '') return alert('テキストを入力してください')
		const lines = text.split('\n\n');
		const result = lines.map(line => {
			const date = new Date(line);
			date.setDate(date.getDate() + 7);
			return `${date.getMonth() + 1}/${date.getDate()}`;
		}).join('\n\n');
		document.querySelector('.resultArea').value = result;
	}
	const convertBtn = document.querySelector('.convertBtn');
	convertBtn?.addEventListener('click', convert);
</script>
